.conference-booking-image{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.confer-img{
    height:400px;
    width:auto;
}

@media only screen and (max-width: 1024px) {
    .conference-booking-image{
        display: none;
    }
    .conference-booking-container{
        margin:0px auto 20px;
    }
  }