.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url("https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60");
}

.login-container
{
  border:2px solid #222;
  box-shadow: 2px 2px 2px #222;
  width:100%;
  margin:100px;
  padding:30px 30px 70px 20px;
  background-color:#222;
  border-radius:2%;
}

.brand-name-login-page {
  font-size: 8vh;
  font-weight: 700;

  color: #ffffff;
  text-align:center;
}

.brand-name-login-page span {
  color: #ea2c62;
}

.login-form-column {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}

.email-input-form {
  border-radius: 15px !important;
  margin: 10px !important;
  height: 50px;
  border-color: #ffffff;
}

.email-input-form:focus {
  border-color: #ea2c62 !important;
}

.email-input-form:hover {
  border-color: #ea2c62 !important;
}

.password-input-form {
  border-radius: 15px !important;
  margin: 10px !important;
  height: 50px;
  border-color: #ffffff;
}

.password-input-form:focus {
  border-color: #ea2c62 !important;
}

.password-input-form:hover {
  border-color: #ea2c62 !important;
}

.login-button-login-page {
  width: 40% !important;
  height: 40px !important;
  border-radius: 15px !important;
 margin-left:30%;
 margin-top:5%;
  background-color: #ea2c62 !important;
  border: none !important;
}
