.login-main-container {
  height: 100vh;
}

.brand-name-login-page {
  font-size: 8vh;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.brand-name-login-page span {
  color: #ea2c62;
}

.login-form-column {
  padding: 0 5%;
}

.login-input {
  border: 1px solid black !important;
  margin: 2% 0 !important;
  border-radius: 10px !important;
  height: 50px;
}

.login-button-login-page {
  width: 50% !important;
  height: 50px !important;
  border-radius: 10px !important;
  background-color: #ea2c62 !important;
  border: none !important;
}

.login-btn-text {
  margin: 0;
  color: #ffffff;
}

.image-login {
  max-width: 100%;
  max-height: 100%;
}

.bottom-link-login {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}

.bottom-link-login a {
  text-decoration: none;
  color: #000000;
}

.bottom-link-login a:hover {
  color: #ea2c62;
}
