.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.brand-name-login-page {
  font-size: 8vh;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.brand-name-login-page span {
  color: #ea2c62;
}

.login-form-column {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-input-form {
  border-radius: 15px !important;
  margin: 10px !important;
  height: 50px;
  border-color: #ffffff;
}

.email-input-form:focus {
  border-color: #ea2c62 !important;
}

.email-input-form:hover {
  border-color: #ea2c62 !important;
}

.password-input-form {
  border-radius: 15px !important;
  margin: 10px !important;
  height: 50px;
  border-color: #ffffff;
}

.password-input-form:focus {
  border-color: #ea2c62 !important;
}

.password-input-form:hover {
  border-color: #ea2c62 !important;
}

.login-button-login-page {
  width: 60% !important;
  height: 40px !important;
  border-radius: 15px !important;
  margin: 10px !important;
  background-color: #ea2c62 !important;
  border: none !important;
}
