.options-body {
  margin-bottom: 70px;
}
.loading-animation {
  position: absolute;
  height: 80px;
  width: 0%;
  left: 0%;
  top: 40vh;
  background-image: linear-gradient(145deg, rgb(219, 66, 91), rgb(255, 153, 0));
  animation: load 10s infinite;
}
@keyframes load {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
.navbar-default {
  transition: 500ms ease;
  background: transparent;
}
.navbar-default.scrolled {
  background: #000;
  color: white;
}
.card-container {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.card:hover {
  background-color: rgb(185, 28, 93);
  transform: scale(1.04);
  transition: 0.5s;
}
.footer {
  background-color: black;
}
.f-icon {
  display: inline-flex;
}
.footer-icons {
  color: rgba(255, 255, 255, 0.534);
}
.f-icon:hover .footer-icons {
  color: rgba(255, 255, 255, 0.979);
}
.copyright {
  background-color: rgb(231, 225, 225);
}
