.admin-icons{
    color:black;
}
.admin-button{
    width:800px;
    height:100px !important;
    border-radius:20px !important;
    margin:20px 0px;
    font-size:1.25rem !important;
}

.admin-button span{
    margin-right: 18px;
}

.admin-button:hover{
    opacity: 0.9;
    transform:scale(1.1);
    transition: 0.5s;
}


@media only screen and (max-width: 780px)
{
    .admin-button{
        width:640px;
        height:70px !important;
        margin:15px 0px;
      
    }   
}

@media only screen and (max-width: 526px)
{
    .admin-button{
        width:340px;
        height:70px !important;
        margin:15px 0px;
      
    }   
}
