.admin-icons{
    color:black;
}
.admin-button{
    width:800px;
    height:100px;
    border-radius:20px;
    margin:20px 0px;
    font-size:1.3rem;
}

.admin-button span{
    margin-right: 18px;
}

.admin-button:hover{
    opacity: 0.9;
    transform:scale(1.1);
    transition: 0.5s;
}