.booking-request-card-data-col {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.booking-request-card-data-text {
  margin: 0;
  font-size: 15px;
}

.booking-request-card-data-col-actions {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.booking-request-card-action-icon {
  font-size: 25px;
  margin: 0 10px;
}


@media only screen and (max-width:526px)
{
  .booking-request-card-data-text {
  font-size:0.6rem;
 
  }
}
@media only screen and (max-width:780px)
{
  .booking-request-card-data-text {
  font-size:0.8rem;
 
  }
}