.main-container-dashboard-card {
  width: 90%;
  border-bottom: 2.5px solid white;
  margin: 0px auto;
}
.dashboard-card-heading {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0px;
  padding: 4.5px 0px;
  text-align:center;
}
.color1 {
  background-image: linear-gradient(to right, #bad9e3, #94bed4);
}
.color2 {
  background-image: linear-gradient(to right, #daeef5, #d1e6ed);
}

.dashboard-card-column {
text-align: center;
font-size: 1.1rem;
}

@media only screen and (max-width:1100px){
  .dashboard-card-heading{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width:720px)
{
  .dashboard-card-heading {
    text-align: center;
    font-size: 0.9rem;
    }
}
