.contact-divider{
    width:44%;
}
.contact-left{
    padding: 0rem 2.5rem;
}
.contact-right{
    padding: 0rem  2.5rem;
}
.contact-input{
    padding: 0.5rem 1rem;
}
.contact-icons{
    margin:10px 15px 10px 0px;
    color: #ea2c62;
}
.contact-icons:hover{
    transform:scale(1.2);
    transition: 1s;
}