.site-card-border-less-wrapper {
    padding: 5px;
   
    margin:20px;
  }

  .dashboard-cards
  {
      height:150px;
   
  }
  .dashboard-cards:hover{
      transform: scale(1.05);
      transition: 0.3s ease-in;
  }