.dashboard-container{
    padding:17px 10px;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: white;
  border: 0px;
  font-size: 1.05rem;
  font-weight: 500;
  margin-left:10px;
}

.dashboard-timeline{
    font-weight: normal;
}

.ant-timeline-item-tail{
    border-left: 2px solid black;
}