.patient-image
{
    height:100%;
    width:100%;
    margin:1% -10% 0% 0%;
    padding-left:20px;
}

.content-left
{
    font-size:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:20%;
    color:firebrick;
    font-weight: 900;
}

.content-left-2
{
    font-size:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   color:rgb(150, 77, 25);
   line-height: 0%;
   font-weight:800;
  
    
}
p{
    font-size:15px;
    font-weight:300;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

.patient-form-image
{
    width:100%;
    margin: 10%;
    margin-top:18%;
}