.brand-container {
  text-align: center;
}

.brand-name {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
}

.brand-name span {
  color: #ea2c62;
}

.nav-link {
  padding: 1%;
  text-align: center;
}

.nav-link-text {
  font-weight: 500;
  font-size: 1.1rem;
  color: #ffffff;
}
.main-container-nav {
  padding: 0.5%;
  background-color: #000000;
}

.linkStyleNavbar {
  color: #ffffff;
}

.linkStyleNavbar:hover {
  color: #ea2c62;
}

.navbar-drawer{
  margin: 20px 25px;
}

.navbar-drawer-text{
  font-style: italic;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
  .brand-container {
    text-align: left;
    padding-left: 10%;
  }
}
