.notice-card-heading {
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
}

.notice-card-sub-heading {
  font-size: 1rem;
  color: #000000;
  font-weight: 300;
}

.notice-room-heading > h2, h4 {
  display: inline;
}