.card {
  margin: auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.options-card-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.card-body {
  padding: 20px;
}
