.options-card {
  margin: 0px 10px 30px 30px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #222;
  width: 80%;
  height: 72vh;

  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

}

.options-card:hover {

  transform: scale(1.05);
  border-radius: 60px;
  
}
.options-card-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.options-card-body {
  padding: 20px;
}
