.navbar-brand-container {
    text-align: left;
    margin-left:20px;
  }
  
  .navbar-brand-name {
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
  }
  
  .navbar-brand-name span {
    color: #ea2c62;
  }

  .navbar-container-nav {
    padding: 0.5%;
    background-color:rgb(0,0,0,0.9) ;
    box-shadow:10px 3px 5px 3px black;
  }

  .sidebar-brand-container
  {
    background-color: rgba(0,0,0, 0.9);
      height:90vh;
  }

  .sidebar-image
  {
      height:160px;
      margin:30px auto;
      border-radius:50%;
      border-width: 5px;
      border-style: double;
      border-color:indianred;
    
  }

  .sidebar-button
  {
      margin:auto;
    padding:1% 32% 1% 32%;
  }