.service-card {
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90%;
  height: 200px;
  color: white;
  font-size: 17px;
}
.service-card:hover {
  background: black;
}
.service-card-body {
  padding: 20px;
}
