.main-container-service {
  text-align: center;
  background-color: #000000;
  height: 80vh;
}

.service-heading {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px 0px;
}
